.form-switch-flex {
	display: flex;
	align-items: center;
}

.form-switch-flex input {
	margin-right: 10px;
}

.btn-icon {
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	transition: all linear 200ms;
	background: transparent;
}

.btn-icon + .btn-icon {
	margin-left: 10px;
}

.close {
	padding: 5px;
	border-radius: 50%;
	background-color: #ececec;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.task .card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
